In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('data/airline_delay_causes_2015.csv')

In [7]:
df.columns

Index([u'year', u' month', u'carrier', u'carrier_name', u'airport',
       u'airport_name', u'arr_flights', u'arr_del15', u'carrier_ct',
       u' weather_ct', u'nas_ct', u'security_ct', u'late_aircraft_ct',
       u'arr_cancelled', u'arr_diverted', u' arr_delay', u' carrier_delay',
       u'weather_delay', u'nas_delay', u'security_delay',
       u'late_aircraft_delay', u'Unnamed: 21'],
      dtype='object')

In [12]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2014,1,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1139,233,68.65,11.21,...,74.40,74,13,15754,3957,1575,3431,0,6791,NaN
1,2014,1,AA,American Airlines Inc.,LAX,"Los Angeles, CA: Los Angeles International",2595,452,132.37,74.77,...,123.16,62,3,25283,7552,4600,4232,4,8895,NaN
2,2014,1,AA,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",13135,2185,505.52,133.75,...,999.02,295,17,137289,49667,10471,18417,15,58719,NaN
3,2014,1,AA,American Airlines Inc.,OGG,"Kahului, HI: Kahului Airport",92,20,9.57,0.00,...,0.49,0,0,812,563,0,230,0,19,NaN
4,2014,1,AA,American Airlines Inc.,HNL,"Honolulu, HI: Honolulu International",176,50,14.46,5.65,...,9.93,0,1,2565,844,238,646,0,837,NaN

In [9]:
df[' month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])