In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/airline_delay_causes_2015.csv')

In [4]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2015,1,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1369,322,73.31,8.44,...,103.47,86,3,20055,5273,999,6358,0,7425,NaN
1,2015,1,AA,American Airlines Inc.,LAX,"Los Angeles, CA: Los Angeles International",2633,445,157.17,25.21,...,153.43,41,4,25261,10914,1460,3293,42,9552,NaN
2,2015,1,AA,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",12466,2463,645.29,64.66,...,982.99,203,6,167313,66714,5055,24137,123,71284,NaN
3,2015,1,AA,American Airlines Inc.,OGG,"Kahului, HI: Kahului Airport",100,22,11.53,0.00,...,4.00,3,0,1776,1207,0,188,0,381,NaN
4,2015,1,AA,American Airlines Inc.,HNL,"Honolulu, HI: Honolulu International",169,50,28.69,0.00,...,6.27,0,4,4175,2602,0,523,0,1050,NaN

In [19]:
df['month'] = df[' month'].map(lambda x: '0' +str(x)).tolist()

In [22]:
agg_month_sum = df.groupby('month',as_index=False).sum()

In [25]:
agg_month_sum.columns

Index([u'month', u'year', u' month', u'arr_flights', u'arr_del15',
       u'carrier_ct', u' weather_ct', u'nas_ct', u'security_ct',
       u'late_aircraft_ct', u'arr_cancelled', u'arr_diverted', u' arr_delay',
       u' carrier_delay', u'weather_delay', u'nas_delay', u'security_delay',
       u'late_aircraft_delay', u'Unnamed: 21'],
      dtype='object')

In [40]:
agg_month_sum.head()

,month,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21,on_time_flights
0,01,2367625,1175,469968,95951,28267.23,3311.58,29878.63,148.22,34345.34,11982,973,5439862,1708155,263087,1278055,6700,2183865,NaN,NaN
1,02,2335385,2318,429191,95179,27635.04,4580.42,29530.35,111.35,33322.07,20517,1011,5635596,1712660,411265,1349173,4580,2157918,NaN,NaN
2,03,2333370,3474,504312,95452,30094.13,2348.12,28283.47,149.04,34577.51,11002,1172,5438910,1818680,228661,1228893,6586,2156090,NaN,NaN
3,04,2325310,4616,485151,82247,24683.00,2772.98,26000.96,96.66,28693.24,4520,1380,4619308,1490594,221590,1118027,3660,1785437,NaN,NaN
4,05,2299115,5705,496993,89645,26388.30,3639.07,26555.12,142.48,32919.97,5694,1658,5437359,1667920,336555,1254652,5711,2172521,NaN,NaN

In [31]:
not_ontime_flights  = ['arr_cancelled','arr_diverted','arr_del15']
agg_month_sum['on_time_flights'] = agg_month_sum['arr_flights'] - agg_month_sum[not_ontime_flights].sum()

In [83]:
agg_month_sum.to_csv('data/agg_month_sum_airlines_2015.csv')

In [48]:
df['carrier_name'].unique()

array(['American Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
       'Delta Air Lines Inc.', 'ExpressJet Airlines Inc.',
       'Frontier Airlines Inc.', 'Hawaiian Airlines Inc.', 'Envoy Air',
       'Spirit Air Lines', 'SkyWest Airlines Inc.',
       'United Air Lines Inc.', 'US Airways Inc.', 'Virgin America',
       'Southwest Airlines Co.'], dtype=object)

In [ ]:
agg_month_sum.ix[5,'custom_month'] = 'Jun, (UA, "dispatching information")'
agg_month_sum.ix[4,'custom_month'] = 'May, (UA, "automation issue")'

In [72]:
agg_month_sum['custom_month'] = agg_month_sum['month'].map(lambda x: arrow.get('2015-'+x, "YYYY-MM").format('MMM'))

In [82]:
agg_month_sum.ix[5,'custom_month'] = 'Jun, (UA, "dispatching information")'
agg_month_sum.ix[4,'custom_month'] = 'May, (UA, "automation issue")'

In [68]:
arr1 = arrow.get('2015-01', "YYYY-MM")